.search-container{
    display: flex;
    align-items: center;
    .ant-input {
        flex: 1;
    }
    
    .ant-btn-primary {
        height: 30px;
        width: 30px;
    }
}

.filter-container {
    padding: 10px;
    background-color: #f0f0f0;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    .ant-divider{
        margin: 0 0 10px 0;
    }
    .ant-checkbox-wrapper {
        margin-bottom: 5px;
        span {
            margin-top: 1px;
        }
    }
    .btn-container {
        display: flex;
        justify-content: space-between;   
        .reset-btn, .ok-btn {
            flex-grow: 1; // Растягиваем кнопки на всю доступную ширину контейнера
        }
        .reset-btn {
            margin-right: 5px; // Отступ между кнопками
        }
    }
}

.table-info {
    margin-top: 15px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    display: flex;
    

    .info-container{
        display: flex;
        flex-direction: column;
        label {
            font-weight: bold;
            margin-bottom: 5px;
            padding-right: 10px;
        }
    
        div {
            display: flex;
            margin-bottom: 5px;
    
            span {
                margin-right: 5px;
            }
        }
    }
    .info-btn-container{
        margin: auto 0 auto auto;
        .ant-btn {
            height: 3rem;
            line-height: 1.2rem;
        }
    }
}