.record-constructor-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;

    .form-group {
        label {
            display: block;
            margin-bottom: 5px;
            font-weight: bold;
        }

        .ant-input,
        .ant-input-number,
        .ant-picker {
            width: 100%;
        }
    }

    .ant-divider {
        grid-column: span 2;
    }
}

/* Добавленные стили */
.buttons-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px 15px 20px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    .ant-checkbox-wrapper{
        span{
            line-height: 28px;
        }
    } 
}

.title-container-update{
    .back-icon {
        position: relative; /* Позиционирование иконок абсолютно внутри родительского контейнера */
        top: 20px; /* Отступ сверху */
        left: 30px;
        cursor: pointer; /* Изменение курсора при наведении */
        z-index: 10; /* Установка z-index для отображения над другими элементами */
        transition: transform 0.2s ease;
    }
    .back-icon:hover {
        transform: scale(1.1); /* Увеличиваем размер иконки на 10% при наведении */
    }
    h1 {
        text-align: center;
        margin-top: -20px;
    }
}   

.title-container-create{
    h1 {
        text-align: center;
        margin-top: 20px;
    }
}


