.layout {
  height: 100vh;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .ant-select{
      width: 60px;
      margin-left: auto;
    }
    .user-info{
      display: flex;
      color: white;
      align-items: center; 
      .ant-avatar{
        margin-bottom: 4px;
        margin-left: 1rem;
        border: 2px solid white; 
      }
      .username{
        margin-left: 0.6em;
        margin-right: 1em;
        font-weight: bold;
        font-size: 16px;
        color: white;
      }
    }
  }
} 