.current-user {
    margin-bottom: 20px; /* Добавляем отступ снизу */
    border: 1px solid #ccc; /* Добавляем рамку */
    padding: 10px; /* Добавляем внутренний отступ */
    border-radius: 5px; /* Добавляем скругление углов */
}

.user-list-header {
    display: flex;
    .button-container {
        margin-left: auto;
        padding-right: 1.5rem;
        .ant-btn {
            background-color: #52c41a; /* Цвет фона кнопки в обычном состоянии */
            border-color: #52c41a; /* Цвет границы кнопки в обычном состоянии */
            color: #fff; /* Цвет текста кнопки в обычном состоянии */
        }
        .ant-btn:hover {
            background-color: #74d842; /* Цвет фона кнопки при наведении */
            border-color: #74d842; /* Цвет границы кнопки при наведении */
        }
    }
    .span-container {
        text-align: center; 
        padding-left: 4rem;
    }
}

.ant-list {
    .user-list-info {
        display: flex;
        p:nth-child(1) {
            padding-left: 1rem;
            width: 8rem; 
        }
        
        p:nth-child(2) {
            width: 8rem; 
            font-size: 18px;
        }
        
        p:nth-child(3) {
            width: 9rem; 
            font-size: 18px;
        }

        p:nth-child(4) {
            width: 9rem; 
        }
    }

    .inactive-user {
        background-color: #ccc; /* серый фон для неактивного пользователя */
    }
    
    .admin-user {
        background-color: rgba(255, 255, 0, 0.5); /* желтый фон для пользователя с правами администратора */
    }
    
    .user-list-actions {
        display: flex; /* Располагаем кнопки в строку */
        align-items: center; /* Выравниваем кнопки по вертикали */
    }
    
    .user-list-actions > * {
        margin-left: 5px; /* Добавляем небольшой отступ между кнопками */
    }
}

.edit-modal-content-container {
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
}

.edit-modal-content-container .ant-form-item {
    margin-bottom: 10px;
    .ant-row {
        .ant-form-item-label{
            width: 15%;
            label{
                display: flex;
                justify-content: flex-end;
            }
        }
    }
}